[submodule "libopencm3"]
	path = libopencm3
	url = https://github.com/libopencm3/libopencm3.git
[submodule "trezor-mcu"]
	path = trezor/trezor-mcu
	url = https://github.com/trezor/trezor-mcu.git
[submodule "btstack"]
	path = bluetooth/btstack
	url = https://github.com/bluekitchen/btstack.git
